@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');
body{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
box-sizing: border-box;
margin: 0px;
padding: 0px;
background-color:  #31353a;
height: 100%;

}

* {
   box-sizing: border-box;
--primary-color: #ecfeff ;
--secondary-color: #4908fa;
}

.container{
    color: var(--primary-color);
    width: 100vw;
    text-decoration: none;
    display: grid;
    font-weight: 400;
    grid-auto-flow: column;
    grid-template-columns: 200px 1fr; 
 
    grid-template-areas: 
    "nav nav "
    "pitch pitch"
   "aside main"
   "aside main"
   "aside main"
   "footer footer"
}


.imp-text{
    font-family: 'Redressed', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
color: var(--secondary-color);

}



nav ul{
    margin-left: auto; 
    display: flex;
  gap: 15px;
  position: relative;
  bottom: 35px;
  padding-inline-end: 0.7rem;
 
}

li{
 
    list-style: none;
    padding: 0.5rem;
    font-weight: bold;
   
}
li a{
    text-decoration: none;
    color: blue
    
}

a:hover{
    color: #f472b6;
  
}

main{
    
    /* grid-template-areas: 200px 1fr; */
    /* align-items: center; 
    padding: 3.5rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin: auto; */
    grid-area: main;
    font-size: 1.2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    
   
}

main p{
    letter-spacing: 0.1rem;
}


h3{
    font-size: 1.5rem;
    /* line-height: 2rem; */
    letter-spacing: 0.1rem;
 }

 .impact{
     font-style: italic;
     color: var(--secondary-color);
     
 }

 
 

.component-text{
    grid-area: pitch;
    font-size: 2rem;
    margin: auto;
    letter-spacing: 0.1rem;
}


hr{
    border-top: 1px solid var(--primary-color); 
  width: 100rem;
}

.highlight{
    color: var(--secondary-color);
}

iframe{
    padding-top: 1rem;
}



.avatar-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
}

.medium{
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 2rem; 
}

.large{
    width: 5.5rem;
    height: 5.5rem;
    margin-left: 2rem; 
}



footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: #fff;      

}

footer ul{
 padding-inline-start: 0.5rem;
    display: flex;
  gap: 20px;
  color: #fff;


}
.typography{
    border: 5px solid white;
}
.gray-text{
    color: gray;
    
}
.center-text{
    text-align: center;
}


nav{
  background: #0082e6;
  height: 80px;
  width: 100%; 
}
label.logo{
  color: #fff;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav .main-list{
  float: right;
  margin-right: 20px;
  bottom: 35px;
}
nav .main-list li{
  display: inline-block;
  line-height: 30px;
  margin: 50px 0;
  /* top: 2px; */
}

nav .main-list li a{
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 925px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav  li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  .main-list{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav .main-list li{
    display: block;
  }
  nav .main-list a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ .main-list{
    left: 0;
  }
}
.header{
    background: #ee5253;
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 10;
    top: 0;
}
p{
    color: #fff;
}
.main{
    height: 100%;
    margin-top: 60px;
    padding: 10px 50px;
}
#sidebarMenu{
    height: 200%;
    position: fixed;
    left: 0;
    top: 0;
    width: 120px;
    margin-top: 60px;
    background: #2e86de;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
 }
 #openSidebarMenu:checked ~ #sidebarMenu{
    transform: translateX(0px);

 }
 .menu{
     list-style: none;
     padding: 0;
     margin: 0;
 }
 .menu li{
     color: #fff;
     border-bottom: 1px solid rgba(255, 255, 255, 0.10);
 }
 .menu li a{
     color: #fff;
     display: block;
     text-decoration: none;
     text-transform: uppercase;
     padding: 20px;
 }
 .sidebarIcontoggle{
     width: 22px;
     height: 22px;
     z-index: 20;
     position: absolute;
     top: 22px;
     left: 15px;
     cursor: pointer;
     
 }
.spinner{
    height: 3px;
    background: #fff;
    transition: all 0.3s;
}
.spinner.middle,
.spinner.bottom{
    margin-top: 3px;
}
.imp-text{
    font-family: 'Redressed', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
width: 100%;
padding: 0;
position: relative;
text-align: center;
color:blue;
/* color: var(--secondary-color); */
}
.major-list{
    list-style: none;
    display: inline;
    position: absolute;
    left: 810px;
    top: 15px;
}
main{
    
    /* grid-template-areas: 200px 1fr; */
    /* align-items: center; 
    padding: 3.5rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin: auto; */
    grid-area: main;
    font-size: 1.2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    
   
}

main p{
    letter-spacing: 0.1rem;
}
h3{
    font-size: 1.5rem;
    /* line-height: 2rem; */
    letter-spacing: 0.1rem;
 }

 .impact{
     font-style: italic;
     color: var(--secondary-color);
     
 }
 

.component-text{
    grid-area: pitch;
    font-size: 42.5%;
    font-size: 2rem; 
    margin: auto;
    letter-spacing: 0.1rem;
}
h1{
  /* grid-area: pitch; */
    font-size: 42.5%;
    
    /* margin: auto; */
    letter-spacing: 0.1rem;
    text-align: center;
    display: grid;
}

hr{
    border-top: 1px solid var(--primary-color); 
  width: 100rem;
}

.highlight{
    color: hotpink;
}

iframe{
    padding-top: 1rem;
}




.medium{
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 2rem; 
}

.large{
    width: 5.5rem;
    height: 5.5rem;
    margin-left: 2rem; 
}



